<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Mestrado CM</description>
    <display-name>Mestrado CM</display-name>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cliente-ws</web-resource-name>
            <url-pattern>/cliente/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>cliente</role-name>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>login-ws</web-resource-name>
            <url-pattern>/AuthenticationServiceService/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>cliente</role-name>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>login-ws</web-resource-name>
            <url-pattern>/ProdutoServiceService/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>cliente</role-name>
            <role-name>administrador</role-name>
            <role-name>convidado</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>jdbcRealm</realm-name>
    </login-config>

    <security-role>
        <role-name>cliente</role-name>
    </security-role>

    <security-role>
        <role-name>administrador</role-name>
    </security-role>

    <security-role>
        <role-name>convidado</role-name>
    </security-role>

</web-app>