<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//193.137.232.45:1521/test"/>
                <property name="username" value="bda_1010136"/>
                <property name="password" value="bda"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/utilizador4Tests.xml"/>
        <mapper resource="mappers/utilizador.xml"/>
        <mapper resource="mappers/produto.xml"/>
        <mapper resource="mappers/categoria.xml"/>
    </mappers>
</configuration>