<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/mestrado"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/localidade.xml"/>
        <mapper resource="mappers/encomenda.xml"/>
        <mapper resource="mappers/sync.xml"/>
        <mapper resource="mappers/cliente.xml"/>
        <mapper resource="mappers/produto.xml"/>
        <mapper resource="mappers/categoria.xml"/>
        <mapper resource="mappers/utilizador.xml"/>
    </mappers>
</configuration>