<div class="login-panel panel panel-default divNovoUtilizador">

    <div class="panel-heading">
        <h3 class="panel-title">Novo Cliente (Registo)</h3>
    </div>

    <div class="panel-body">
        <form role="form">
            <fieldset>
                <div class="form-group txtRegistoNome">
                    <input class="form-control" placeholder="Nome" name="txtRegistoNome" type="text"  id="txtRegistoNome" autofocus>
                </div>

                <div class="form-group txtRegistoMorada">
                    <input class="form-control" placeholder="Morada" name="txtRegistoMorada" type="text"   >
                    <input class="form-control" placeholder="Nº porta" name="txtRegistoNporta" type="text"   >
                </div>

                <div class="form-group txtRegistoContribuinte">
                    <input class="form-control" placeholder="Contribuinte" name="txtRegistoContribuinte" type="text">
                </div>

                <div class="form-group txtRegistoDataNascimento">
                    <input class="form-control" placeholder="Data de Nascimento" name="txtRegistoDataNascimento" type="text">
                </div>

                <div class="form-group txtRegistoContacto">
                    <input class="form-control" placeholder="Contacto" name="txtRegistoContacto" type="text">
                </div>

                <div class="form-group txtRegistoLocalidade">
                    <input class="form-control" placeholder="Localidade" name="txtRegistoLocalidade" type="text">
                </div>

                <div class="form-group txtRegistoUsername">
                    <input class="form-control" placeholder="Username" name="txtRegistoUsername" type="text">
                </div>

                <div class="form-group txtRegistoPassword">
                    <input class="form-control" placeholder="Password" name="txtRegistoPassword" type="password">
                </div>

                <!--a href="" class="btn btn-lg btn-success btn-block " id="btnRegistoNovoUtilizador">Registar</a-->
                <button type="button" class="btn btn-success btn-lg" id="btnRegistoNovoUtilizador" >Registar</button>
            </fieldset>
        </form>
    </div>
</div>